# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Build

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  Windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt -U pyinstaller
    - name: Build
      run: |
        pyinstaller -F --add-data=mtkclient;mtkclient -i mtkclient/icon.ico mtk_gui.py
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4.4.3
      with:
        name: mtkclient
        path: dist
  #Ubuntu:

     #runs-on: ubuntu-latest
     #steps:
       #- name: Install dependencies
        # run:
         #  sudo apt install python3 git libusb-1.0-0 python3-pip libfuse2
